x64
ImageSegmentation.sln
ImageSegmentation/x64
ImageSegmentation/ImageSegmentation.vcxproj
ImageSegmentation/ImageSegmentation.vcxproj.filters
ImageSegmentation/ImageSegmentation.vcxproj.user
.vs
ImageSegmentation.sln
/build
